@import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
.resources__logo-zone {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 217px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
