@import url(../blocks/khan/__quote-author/khan__quote-author.css);

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  margin-top: 36px;
}
