@import url(../blocks/header/__title/header__title.css);
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  align-self: center;
  margin: 0;
}
