.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-align: right;
  margin: 0;
  margin-left: 48px;
  opacity: 1;
  transition: transform  0.5s linear;
}

.khan__buy-link:hover {
  opacity: 0.6;
}


